@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#__next {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.cover-img {
  z-index: -1;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.remark-code-title {
  @apply px-4 py-2 font-mono text-sm font-bold text-gray-800 bg-white border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-600 dark:bg-gray-700;
}

.remark-code-title ~ pre {
  @apply h-full;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

.font-blog-title {
  font-family: "DM Serif Text", "Georgia", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
